<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.order.persistence.OrderDao">

  <resultMap id="popupStoreMap" type="PopupStore">
    <result column="popup_store_id" property="popupStoreId"/>
    <result column="title" property="title"/>
    <result column="place_detail" property="placeDetail"/>
    <result column="banner_img_url" property="bannerImgUrl"/>
  </resultMap>

  <resultMap id="userMap" type="User">
    <result column="user_id" property="userId"/>
    <result column="name" property="name"/>
  </resultMap>

  <resultMap id="popupStoreItemMap" type="PopupStoreItem">
    <result column="popup_store_item_id" property="popupStoreItemId"/>
    <result column="name" property="name"/>
    <result column="img_url" property="imgUrl"/>
    <result column="amount" property="amount"/>
    <result column="stock" property="stock"/>
    <result column="order_limit" property="orderLimit"/>
    <result column="created_at" property="createdAt"/>
    <collection column="popup_store_id" property="popupStore" resultMap="popupStoreMap"/>
  </resultMap>

  <resultMap id="orderMap" type="Order">
    <result column="order_id" property="orderId"/>
    <result column="amount" property="totalAmount"/>
    <result column="status" property="status"/>
    <result column="created_at" property="createdAt"/>
    <result column="order_toss_id" property="orderTossId"/>
    <result column="url" property="url"/>
    <result column="order_card_type" property="cardType"/>
    <result column="easy_pay" property="easyPay"/>
    <result column="method" property="method"/>
    <collection column="popup_store_id" property="popupStore" resultMap="popupStoreMap"/>
    <collection column="title" property="popupStore" resultMap="popupStoreMap"/>
    <collection column="place_detail" property="popupStore" resultMap="popupStoreMap"/>
    <collection column="banner_img_url" property="popupStore" resultMap="popupStoreMap"/>
    <collection column="user_id" property="user" resultMap="userMap"/>
    <collection column="name" property="user" resultMap="userMap"/>
  </resultMap>

  <resultMap id="orderItemMap" type="OrderItem">
    <result column="total_amount" property="totalAmount"/>
    <result column="total_quantity" property="totalQuantity"/>
    <collection column="popup_store_item_id" property="popupStoreItem" resultMap="popupStoreItemMap"/>
    <collection column="name" property="popupStoreItem" resultMap="popupStoreItemMap"/>
    <collection column="amount" property="popupStoreItem" resultMap="popupStoreItemMap"/>
    <collection column="stock" property="popupStoreItem" resultMap="popupStoreItemMap"/>
    <collection column="order_limit" property="popupStoreItem" resultMap="popupStoreItemMap"/>
  </resultMap>


  <select id="getItems" parameterType="long" resultMap="popupStoreItemMap">
    SELECT *
    FROM TB_POPUP_STORE_ITEM
    WHERE popup_store_id = #{popupStoreId}
  </select>

  <select id="selectSequence" resultType="long">
    SELECT tb_order_seq.NEXTVAL as orderId FROM DUAL
  </select>

  <insert id="insertOrderTable" parameterType="java.util.Map">
    INSERT INTO tb_order (order_id, user_id, popup_store_id, amount, order_toss_id, order_card_type, url, easy_pay, method)
    VALUES (#{orderId}, #{userId}, #{storeId}, #{totalAmount}, #{orderTossId}, #{cardType}, #{url}, #{easyPay}, #{method})
  </insert>

  <select id="findStock" parameterType="java.util.Map" resultType="int">
    SELECT stock
    FROM TB_POPUP_STORE_ITEM
    WHERE popup_store_id = #{storeId} and popup_store_item_id = #{itemId}
  </select>

  <insert id="insertOrderItemTable" parameterType="java.util.Map">
    INSERT INTO tb_order_item (order_id, popup_store_item_id, total_amount, total_quantity)
    VALUES (#{orderId}, #{itemId}, #{totalItemAmount}, #{totalQuantity})
  </insert>

  <update id="updateStoreItemTable" parameterType="java.util.Map">
    UPDATE tb_popup_store_item
    SET stock = #{updateStock}
    WHERE popup_store_item_id = #{itemId} and popup_store_id = #{storeId}
  </update>

  <select id="getOrders" parameterType="long" resultMap="orderMap">
    SELECT *
    FROM tb_order
    WHERE user_id = #{userId}
    order by status, created_at desc
  </select>

  <select id="getRequestOrders" parameterType="java.util.Map" resultMap="orderMap">
    SELECT title, place_detail, banner_img_url
    FROM tb_popup_store
    WHERE popup_store_id = #{popupStoreId}
  </select>

  <select id="getOrderItems" parameterType="java.util.Map" resultType="OrderItem">
    SELECT order_id as orderItemId, popup_store_item_id as storeItemId , total_amount as totalAmount, total_quantity as totalQuantity, created_at as createdAt
    FROM tb_order_item
    WHERE order_id = #{orderId}
  </select>

  <select id="getItemInfo" parameterType="java.util.Map" resultType="PopupStoreItem">
    select *
    from tb_popup_store_item
    where popup_store_item_id= #{storeItemId} and popup_store_id= #{popupStoreId}
  </select>

  <select id="getPlaceDetails" parameterType="java.util.Map" resultType="OrderPlaceDetail">
    select a.title, a.place_detail, b.place_description
    from tb_popup_store a
    join( select * from tb_department
    where department_id  = (select department_id from
    tb_popup_store
    where popup_store_id= #{popupStoreId})) b on a.department_id = b.department_id
    where a.popup_store_id=#{popupStoreId}
  </select>

  <select id="getBackOfficeOrders" parameterType="long" resultMap="orderMap">
    select a.order_id,a.popup_store_id, a.status, a.amount,a.created_at, a.order_toss_id,a.order_card_type,a.method, b.name from
    tb_order a
    join tb_user b on a.user_id = b.user_id
    where a.popup_store_id=#{popupStoreId}
    order by created_at desc
  </select>

  <select id="getBackOfficeOrderItems" parameterType="long" resultMap="orderItemMap">
    select a.popup_store_item_id, a.total_amount, a.total_quantity, b.name, b.amount, b.img_url, b.stock, b.order_limit
    from tb_order_item a
    join tb_popup_store_item b on a.popup_store_item_id = b.popup_store_item_id
    where a.order_id = #{orderId}
    order by popup_store_item_id
  </select>

</mapper>
