<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.popupstore.persistence.PopupStoreDao">

  <resultMap id="popupStoreMap" type="PopupStore">
    <result column="popup_store_id" property="popupStoreId"/>
    <result column="title" property="title"/>
    <result column="organizer" property="organizer"/>
    <result column="place_detail" property="placeDetail"/>
    <result column="open_date" property="openDate"/>
    <result column="close_date" property="closeDate"/>
    <result column="description" property="description"/>
    <result column="event_description" property="eventDescription"/>
    <result column="entry_fee" property="entryFee"/>
    <result column="banner_img_url" property="bannerImgUrl"/>
    <result column="open_time" property="openTime"/>
    <result column="close_time" property="closeTime"/>
    <result column="max_capacity" property="maxCapacity"/>
    <result column="reservation_enabled" property="reservationEnabled"/>
    <result column="reservation_interval" property="reservationInterval"/>
    <result column="interval_capacity" property="intervalCapacity"/>
    <result column="team_size_limit" property="teamSizeLimit"/>
    <result column="created_at" property="createdAt"/>
    <result column="views" property="views"/>
    <association property="user" resultMap="userMap"/>
    <association property="department" resultMap="departmentMap"/>
  </resultMap>

  <resultMap id="userMap" type="User">
    <result column="user_id" property="userId"/>
  </resultMap>

  <resultMap id="departmentMap" type="Department">
    <result column="department_id" property="departmentId"/>
    <result column="name" property="name"/>
    <result column="place_description" property="placeDescription"/>
    <result column="latitude" property="latitude"/>
    <result column="longitude" property="longitude"/>
    <result column="open_time" property="openTime"/>
    <result column="close_time" property="closeTime"/>
  </resultMap>

  <resultMap id="popupStoreDetailMap" type="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreDetailDto">
    <association property="popupStore" resultMap="popupStoreMap"/>
    <association property="department" resultMap="departmentMap"/>
    <association property="popupStoreSns" resultMap="popupStoreSnsMap"/>
    <association property="popupStoreImg" resultMap="popupStoreImgMap"/>
  </resultMap>


  <resultMap id="bannerMap" type="Banner">
    <result column="banner_id" property="bannerId"/>
    <result column="img_url" property="imgUrl"/>
    <association property="popupStore" resultMap="popupStoreMap"/>
  </resultMap>

  <resultMap id="popupStoreSnsMap" type="PopupStoreSns">
    <result column="sns_id" property="snsId"/>
    <result column="platform" property="platform"/>
    <result column="url" property="url"/>
  </resultMap>

  <resultMap id="popupStoreImgMap" type="PopupStoreImg">
    <result column="popup_store_img_id" property="popupStoreImgId"/>
    <result column="img_url" property="imgUrl"/>
  </resultMap>

  <resultMap id="popupStoreItemMap" type="PopupStoreItem">
    <result column="popup_store_item_id" property="popupStoreItemId"/>
    <result column="name" property="name"/>
    <result column="img_url" property="imgUrl"/>
    <result column="amount" property="amount"/>
    <result column="stock" property="stock"/>
    <result column="order_limit" property="orderLimit"/>
  </resultMap>

  <resultMap id="popupStoreInfoMap" type="com.bonestew.popmate.popupstore.presentation.dto.PopupStoreInfo">
    <association property="popupStore" resultMap="popupStoreMap"/>
    <association property="popupStoreSns" resultMap="popupStoreSnsMap"/>
    <association property="popupStoreImg" resultMap="popupStoreImgMap"/>
    <association property="popupStoreItem" resultMap="popupStoreItemMap"/>
  </resultMap>


  <select id="findById" parameterType="long" resultType="PopupStore">
    SELECT *
    FROM tb_popup_store
    WHERE popup_store_id = #{popupStoreId}
  </select>


  <select id="selectPopupStores" parameterType="com.bonestew.popmate.popupstore.presentation.dto.PopupStoreSearchRequest"
    resultType="PopupStore">
    SELECT popup_store_id, title, open_date, close_date, place_detail, banner_img_url, organizer
    FROM tb_popup_store
    <where>
      <if test="keyword != null and keyword != ''">
        AND title LIKE CONCAT(CONCAT('%', #{keyword}), '%')
      </if>
      <if test="isOpeningSoon">
        AND trunc(SYSDATE) &lt; open_date
      </if>
      <if test="!isOpeningSoon and (startDate != null and endDate != null)">
        AND ((#{startDate, jdbcType=TIMESTAMP} BETWEEN open_date AND close_date)
        OR (#{startDate, jdbcType=TIMESTAMP} BETWEEN open_date AND close_date))
      </if>
    </where>
    <if test="offSetRows != 0 and rowsToGet != 0">
      OFFSET #{offSetRows} ROWS FETCH FIRST #{rowsToGet} ROWS ONLY
    </if>
  </select>


<!--  <select id="selectBanners" resultType="Banner">-->
  <select id="selectBanners" resultMap="bannerMap">
    SELECT * FROM tb_banner
  </select>

  <select id="selectPopupStoresVisitedBy" parameterType="User" resultType="PopupStore">
    select popup_store_id, title, banner_img_url
    from tb_popup_store
    where popup_store_id in (
    select distinct tr.popup_store_id
    from tb_reservation tr
    join tb_user_reservation tur
    on tr.reservation_id = tur.reservation_id
    where tur.user_id = #{userId}
    and tur.status = 1
    and tur.created_at = trunc(sysdate))
  </select>

  <select id="selectPopupStoresToRecommend" resultType="PopupStore">
    SELECT
    popup_store_id, title, open_date, close_date, place_detail, banner_img_url, organizer
    FROM
    tb_popup_store
    where sysdate &lt;= close_date
    AND trunc(SYSDATE) > open_date
    ORDER BY views
    FETCH FIRST 5 ROWS ONLY
  </select>

  <select id="selectPopupStoresEndingSoon" resultType="PopupStore">
    SELECT
    popup_store_id, title, open_date, close_date, place_detail, banner_img_url, organizer
    FROM
    tb_popup_store
    where sysdate &lt;= close_date
    order by close_date
    fetch FIRST 5 ROWS ONLY
  </select>

  <select id="findPopupStoreDetailById" parameterType="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreQueryDto"
    resultMap="popupStoreDetailMap">
    select *
    from tb_popup_store ps
    left join tb_popup_store_sns pss on
    ps.popup_store_id = pss.popup_store_id
    left join tb_popup_store_img psi on
    ps.popup_store_id = psi.popup_store_id
    left join tb_department td on
    ps.department_id = td.department_id
    where ps.popup_store_id = #{popupStoreId}
  </select>

  <select id="findUserReservationById" parameterType="long" resultType="UserReservationStatus">
    select ur.status
    from tb_user_reservation ur
    join tb_reservation r
    on ur.reservation_id = r.reservation_id
    where ur.user_id = #{userId} and r.popup_store_id = #{popupStoreId}
    and ur.created_at = trunc(sysdate)
    order by ur.created_at desc
    fetch first row only
  </select>

  <select id="selectPopupStoreSnss" parameterType="long" resultType="PopupStoreSns">
    SELECT *
    FROM tb_popup_store_sns
    WHERE popup_store_id = #{popupStoreId}
  </select>

  <select id="selectPopupStoreImgs" parameterType="long" resultType="PopupStoreImg">
    SELECT *
    FROM tb_popup_store_img
    WHERE popup_store_id = #{popupStoreId}
  </select>


  <update id="batchUpdatePopupStoreViews" parameterType="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreUpdateDto">
    <foreach collection="list" index="index" item="updateDto" open="DECLARE BEGIN" separator=";" close="; END;">
      UPDATE tb_popup_store
      SET views = #{updateDto.views}
      WHERE popup_store_id = #{updateDto.popupStoreId}
    </foreach>
  </update>

  <select id="selectPopupStoresNearBy" parameterType="long" resultType="PopupStore">
    select *
    FROM tb_popup_store
    where department_id = (select department_id from tb_popup_store where popup_store_id = #{popupStoreId})
    and popup_store_id != #{popupStoreId}
    and sysdate &lt;= close_date
  </select>

  <select id="findPopupStoreDetailByIdForAdmin" parameterType="long" resultMap="popupStoreInfoMap">
    select *
    from tb_popup_store ps join tb_popup_store_sns pss
    on ps.popup_store_id = pss.popup_store_id
    left join tb_popup_store_img psi
    on ps.popup_store_id = psi.popup_store_id
    left join tb_popup_store_item psii
    on ps.popup_store_id = psii.popup_store_id
    where ps.popup_store_id = #{popupStoreId}
  </select>


  <insert id="insertPopupStore" parameterType="PopupStore">
    <selectKey keyColumn="popup_store_id" keyProperty="popupStoreId" resultType="Long" order="AFTER">
      select TB_POPUP_STORE_SEQ.CURRVAL from dual
    </selectKey>
    INSERT INTO tb_popup_store (
    user_id,
    department_id,
    title,
    organizer,
    place_detail,
    description,
    event_description,
    banner_img_url,
    entry_fee,
    max_capacity,
    reservation_enabled,
    reservation_interval,
    interval_capacity,
    team_size_limit,
    open_date,
    close_date,
    open_time,
    close_time,
    views
    )
    VALUES (
    #{user.userId},
    #{department.departmentId},
    #{title},
    #{organizer},
    #{placeDetail},
    #{description},
    #{eventDescription},
    #{bannerImgUrl},
    #{entryFee},
    #{maxCapacity},
    #{reservationEnabled},
    #{reservationInterval},
    #{intervalCapacity},
    #{teamSizeLimit},
    #{openDate},
    #{closeDate},
    #{openTime},
    #{closeTime},
    #{views}
    )
  </insert>

  <insert id="insertPopupStoreImgs" parameterType="java.util.List">
    INSERT INTO tb_popup_store_img (popup_store_id, img_url)
    VALUES
    <foreach collection="list" item="img" separator=",">
      (#{img.popupStore.popupStoreId}, #{img.imgUrl})
    </foreach>
  </insert>

  <insert id="insertPopupStoreItems" parameterType="java.util.List">
    INSERT INTO tb_popup_store_item (popup_store_id, name, img_url, amount, stock, order_limit)
    VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.popupStore.popupStoreId}, #{item.name}, #{item.imgUrl}, #{item.amount}, #{item.stock}, #{item.orderLimit})
    </foreach>
  </insert>

  <insert id="insertPopupStoreSns" parameterType="java.util.List">
    INSERT INTO tb_popup_store_sns (popup_store_id, platform, url)
    VALUES
    <foreach collection="list" item="sns" separator=",">
      (#{sns.popupStore.popupStoreId}, #{sns.platform}, #{sns.url})
    </foreach>
  </insert>
</mapper>
