<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.popupstore.persistence.PopupStoreDao">

  <resultMap id="popupStoreMap" type="PopupStore">
    <result column="popup_store_id" property="popupStoreId"/>
    <result column="title" property="title"/>
    <result column="organizer" property="organizer"/>
    <result column="place_detail" property="placeDetail"/>
    <result column="open_date" property="openDate"/>
    <result column="close_date" property="closeDate"/>
    <result column="description" property="description"/>
    <result column="event_description" property="eventDescription"/>
    <result column="entry_fee" property="entryFee"/>
    <result column="banner_img_url" property="bannerImgUrl"/>
    <result column="open_time" property="openTime"/>
    <result column="close_time" property="closeTime"/>
    <result column="max_capacity" property="maxCapacity"/>
    <result column="reservation_enabled" property="reservationEnabled"/>
    <result column="reservation_interval" property="reservationInterval"/>
    <result column="interval_capacity" property="intervalCapacity"/>
    <result column="team_size_limit" property="teamSizeLimit"/>
    <result column="created_at" property="createdAt"/>
    <result column="views" property="views"/>
    <result column="total" property="total"/>
    <association property="user" resultMap="userMap"/>
    <association property="department" resultMap="departmentMap"/>
  </resultMap>

  <resultMap id="userMap" type="User">
    <result column="user_id" property="userId"/>
  </resultMap>

  <resultMap id="departmentMap" type="Department">
    <result column="department_id" property="departmentId"/>
    <result column="name" property="name"/>
    <result column="d_name" property="name"/>
    <result column="place_description" property="placeDescription"/>
    <result column="latitude" property="latitude"/>
    <result column="longitude" property="longitude"/>
    <result column="open_time" property="openTime"/>
    <result column="close_time" property="closeTime"/>
  </resultMap>

  <resultMap id="popupStoreDetailMap" type="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreDetailDto">
    <association property="popupStore" resultMap="popupStoreMap"/>
    <association property="department" resultMap="departmentMap"/>
    <association property="popupStoreSns" resultMap="popupStoreSnsMap"/>
    <association property="popupStoreImg" resultMap="popupStoreImgMap"/>
  </resultMap>


  <resultMap id="bannerMap" type="Banner">
    <result column="banner_id" property="bannerId"/>
    <result column="img_url" property="imgUrl"/>
    <association property="popupStore" resultMap="popupStoreMap"/>
  </resultMap>

  <resultMap id="popupStoreSnsMap" type="PopupStoreSns">
    <result column="sns_id" property="snsId"/>
    <result column="platform" property="platform"/>
    <result column="url" property="url"/>
  </resultMap>

  <resultMap id="popupStoreImgMap" type="PopupStoreImg">
    <result column="popup_store_img_id" property="popupStoreImgId"/>
    <result column="img_url" property="imgUrl"/>
  </resultMap>

  <resultMap id="popupStoreItemMap" type="PopupStoreItem">
    <result column="popup_store_item_id" property="popupStoreItemId"/>
    <result column="name" property="name"/>
    <result column="store_item_img_url" property="imgUrl"/>
    <result column="amount" property="amount"/>
    <result column="stock" property="stock"/>
    <result column="order_limit" property="orderLimit"/>
    <result column="is_on_sale" property="isOnSale"/>
  </resultMap>

  <resultMap id="popupStoreInfoMap" type="com.bonestew.popmate.popupstore.presentation.dto.PopupStoreInfo">
    <association property="popupStore" resultMap="popupStoreMap"/>
    <association property="popupStoreSns" resultMap="popupStoreSnsMap"/>
    <association property="popupStoreImg" resultMap="popupStoreImgMap"/>
    <association property="popupStoreItem" resultMap="popupStoreItemMap"/>
  </resultMap>


  <select id="findById" parameterType="long" resultType="PopupStore">
    SELECT *
    FROM tb_popup_store
    WHERE popup_store_id = #{popupStoreId}
  </select>

  <select id="selectPopupStoresByQuery" resultMap="popupStoreMap"
    parameterType="com.bonestew.popmate.popupstore.persistence.dto.PopupStorePageDto">
    SELECT POPUP_STORE_ID, TITLE, NAME, OPEN_DATE, CLOSE_DATE, ORGANIZER, d.CREATED_AT as CREATED_AT, COUNT(*) over () total
    FROM TB_POPUP_STORE s
    JOIN TB_DEPARTMENT d
    ON s.DEPARTMENT_ID = d.DEPARTMENT_ID
    <where>
      <if test="request.type == 0 or request.type == 1">
        OR s.TITLE LIKE '%' || #{request.query} || '%'
      </if>
      <if test="request.type == 0 or request.type == 2">
        OR d.name LIKE '%' || #{request.query} || '%'
      </if>
      <if test="request.type == 0 or request.type == 3">
        OR s.ORGANIZER LIKE '%' || #{request.query} || '%'
      </if>
    </where>
    <if test="pageable.sort.sorted">
      <trim prefix="order by">
        <foreach item="order" index="i" collection="pageable.sort" separator=", ">
          ${order.property} ${order.direction}
        </foreach>
      </trim>
    </if>
    OFFSET ${pageable.page}*${pageable.size} ROWS FETCH FIRST ${pageable.size} ROWS ONLY
  </select>

  <select id="selectPopupStores" parameterType="com.bonestew.popmate.popupstore.presentation.dto.PopupStoreSearchRequest"
    resultMap="popupStoreMap">
    SELECT *
    FROM tb_popup_store s
    JOIN TB_DEPARTMENT d
    ON s.DEPARTMENT_ID = d.DEPARTMENT_ID
    <where>
      <if test="keyword != null and keyword != ''">
        AND title LIKE '%' || #{keyword} || '%'
      </if>
      <if test="isOpeningSoon">
        AND trunc(SYSDATE) &lt; open_date
      </if>
      <if test="!isOpeningSoon and (startDate != null and endDate != null)">
        AND ((#{startDate, jdbcType=TIMESTAMP} BETWEEN open_date AND close_date)
        OR (#{startDate, jdbcType=TIMESTAMP} BETWEEN open_date AND close_date))
      </if>
    </where>
    <if test="offSetRows != 0 and rowsToGet != 0">
      OFFSET #{offSetRows} ROWS FETCH FIRST #{rowsToGet} ROWS ONLY
    </if>
  </select>


  <!--  <select id="selectBanners" resultType="Banner">-->
  <select id="selectBanners" resultMap="bannerMap">
    SELECT * FROM tb_banner
  </select>

  <select id="selectPopupStoresVisitedBy" parameterType="User" resultType="PopupStore">
    select popup_store_id, title, banner_img_url
    from tb_popup_store
    where popup_store_id in (
    select distinct tr.popup_store_id
    from tb_reservation tr
    join tb_user_reservation tur
    on tr.reservation_id = tur.reservation_id
    where tur.user_id = #{userId}
    and tur.status = 1
    and trunc(tur.created_at) = trunc(sysdate))
  </select>

  <select id="selectPopupStoresToRecommend" resultType="PopupStore">
    SELECT
    popup_store_id, title, open_date, close_date, place_detail, banner_img_url, organizer
    FROM
    tb_popup_store
    where sysdate &lt;= close_date
    AND trunc(SYSDATE) > open_date
    ORDER BY views
    FETCH FIRST 5 ROWS ONLY
  </select>

  <select id="selectPopupStoresEndingSoon" resultType="PopupStore">
    SELECT
    popup_store_id, title, open_date, close_date, place_detail, banner_img_url, organizer
    FROM
    tb_popup_store
    where sysdate &lt;= close_date
    order by close_date
    fetch FIRST 5 ROWS ONLY
  </select>

  <select id="findPopupStoreDetailById" parameterType="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreQueryDto"
    resultMap="popupStoreDetailMap">
    select *
    from tb_popup_store ps
    left join tb_popup_store_sns pss on
    ps.popup_store_id = pss.popup_store_id
    left join tb_popup_store_img psi on
    ps.popup_store_id = psi.popup_store_id
    left join tb_department td on
    ps.department_id = td.department_id
    where ps.popup_store_id = #{popupStoreId}
  </select>

  <select id="userReservationExistsById" parameterType="long" resultType="Boolean">
    SELECT CASE
    WHEN EXISTS (
    SELECT 1
    FROM tb_user_reservation ur
    JOIN tb_reservation r ON ur.reservation_id = r.reservation_id
    JOIN tb_popup_store ps ON r.popup_store_id = ps.popup_store_id
    WHERE ps.popup_store_id = #{popupStoreId}
    AND ur.user_id = #{userId}
    AND ur.status = 1
    AND trunc(ur.created_at) = trunc(sysdate)
    )
    THEN 1
    ELSE 0
    END AS result
    FROM dual
  </select>

  <select id="selectPopupStoreSnss" parameterType="long" resultType="PopupStoreSns">
    SELECT *
    FROM tb_popup_store_sns
    WHERE popup_store_id = #{popupStoreId}
  </select>

  <select id="selectPopupStoreImgs" parameterType="long" resultType="PopupStoreImg">
    SELECT *
    FROM tb_popup_store_img
    WHERE popup_store_id = #{popupStoreId}
  </select>


  <update id="batchUpdatePopupStoreViews" parameterType="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreUpdateDto">
    <foreach collection="list" index="index" item="updateDto" open="DECLARE BEGIN" separator=";" close="; END;">
      UPDATE tb_popup_store
      SET views = #{updateDto.views}
      WHERE popup_store_id = #{updateDto.popupStoreId}
    </foreach>
  </update>

  <select id="selectPopupStoresNearBy" parameterType="long" resultType="PopupStore">
    select *
    FROM tb_popup_store
    where department_id = (select department_id from tb_popup_store where popup_store_id = #{popupStoreId})
    and popup_store_id != #{popupStoreId}
    and sysdate &lt;= close_date
  </select>

  <select id="selectPopupStoreByAuth" parameterType="com.bonestew.popmate.popupstore.persistence.dto.AuthDto"
    resultType="PopupStore">
    SELECT POPUP_STORE_ID, TITLE, RESERVATION_ENABLED, SALES_ENABLED
    FROM TB_POPUP_STORE
    <where>
      <if test="role.name().equals('ROLE_STAFF')">
        USER_ID = #{userId}
      </if>
      AND SYSDATE BETWEEN OPEN_DATE AND CLOSE_DATE
    </where>
    ORDER BY CREATED_AT DESC
  </select>

  <select id="findPopupStoreDetailByIdForAdmin" parameterType="long" resultMap="popupStoreInfoMap">
    select ps.popup_store_id, ps.user_id, ps.department_id, d.name as d_name, ps.title,
    ps.organizer, ps.place_detail, ps.open_date, ps.close_date,
    ps.description, ps.event_description, ps.banner_img_url,
    ps.open_time, ps.close_time, ps.max_capacity, ps.interval_capacity,
    ps.reservation_interval, ps.reservation_enabled,
    ps.team_size_limit, ps.created_at, ps.chat_room_id,
    ps.views, pss.sns_id, pss.platform, pss.url, psi.popup_store_img_id,
    psi.img_url, psii.popup_store_item_id, psii.name,
    psii.amount, psii.img_url as store_item_img_url, psii.stock,
    psii.order_limit, psii.is_on_sale
    from tb_popup_store ps left outer join tb_department d
    on ps.department_id = d.department_id
    left outer join tb_popup_store_sns pss
    on ps.popup_store_id = pss.popup_store_id
    left outer join tb_popup_store_img psi
    on ps.popup_store_id = psi.popup_store_id
    left outer join tb_popup_store_item psii
    on ps.popup_store_id = psii.popup_store_id
    where ps.popup_store_id = #{popupStoreId}
  </select>


  <update id="updatePopupStoreInfo" parameterType="PopupStore">
    UPDATE tb_popup_store
    <set>
      <if test="title != null">title = #{title},</if>
      <if test="department != null">department_id = #{department.departmentId},</if>
      <if test="organizer != null">organizer = #{organizer},</if>
      <if test="placeDetail != null">place_detail = #{placeDetail},</if>
      <if test="description != null">description = #{description},</if>
      <if test="eventDescription != null">event_description = #{eventDescription},</if>
      <if test="bannerImgUrl != null">banner_img_url = #{bannerImgUrl},</if>
      <if test="entryFee != null">entry_fee = #{entryFee},</if>
      <if test="maxCapacity != null">max_capacity = #{maxCapacity},</if>
      <if test="reservationEnabled != null">reservation_enabled = #{reservationEnabled},</if>
      <if test="reservationInterval != null">reservation_interval = #{reservationInterval},</if>
      <if test="intervalCapacity != null">interval_capacity = #{intervalCapacity},</if>
      <if test="teamSizeLimit != null">team_size_limit = #{teamSizeLimit},</if>
      <if test="openDate != null">open_date = #{openDate},</if>
      <if test="closeDate != null">close_date = #{closeDate},</if>
      <if test="openTime != null">open_time = #{openTime},</if>
      <if test="closeTime != null">close_time = #{closeTime},</if>
      <if test="views != null">views = #{views},</if>
    </set>
    WHERE popup_store_id = #{popupStoreId}
  </update>

  <delete id="deleteStoreImageById" parameterType="long">
    DELETE FROM tb_popup_store_img
    WHERE popup_store_id = #{popupStoreId}
  </delete>

  <!--  <delete id="deleteStoreItemsById" parameterType="long">-->
  <!--    DELETE FROM tb_popup_store_item-->
  <!--    WHERE popup_store_id = #{popupStoreId}-->
  <!--  </delete>-->

  <!--  <delete id="deleteStoreSnsById" parameterType="long">-->
  <!--    DELETE FROM tb_popup_store_sns-->
  <!--    WHERE popup_store_id = #{popupStoreId}-->
  <!--  </delete>-->


  <insert id="insertPopupStore" parameterType="PopupStore">
    <selectKey keyColumn="popup_store_id" keyProperty="popupStoreId" resultType="Long" order="AFTER">
      select TB_POPUP_STORE_SEQ.CURRVAL from dual
    </selectKey>
    INSERT INTO tb_popup_store (
    user_id,
    department_id,
    title,
    organizer,
    place_detail,
    description,
    event_description,
    banner_img_url,
    entry_fee,
    max_capacity,
    reservation_enabled,
    reservation_interval,
    interval_capacity,
    team_size_limit,
    open_date,
    close_date,
    open_time,
    close_time,
    views
    )
    VALUES (
    #{user.userId},
    #{department.departmentId},
    #{title},
    #{organizer},
    #{placeDetail},
    #{description},
    #{eventDescription},
    #{bannerImgUrl},
    #{entryFee},
    #{maxCapacity},
    #{reservationEnabled},
    #{reservationInterval},
    #{intervalCapacity},
    #{teamSizeLimit},
    #{openDate},
    #{closeDate},
    #{openTime},
    #{closeTime},
    #{views}
    )
  </insert>

  <insert id="insertPopupStoreImg" parameterType="PopupStoreImg">
    insert into tb_popup_store_img (popup_store_id, img_url)
    values (#{popupStore.popupStoreId}, #{imgUrl})
  </insert>

  <insert id="insertPopupStoreItem" parameterType="PopupStoreItem">
    INSERT INTO tb_popup_store_item (popup_store_id, name, img_url, amount, stock, order_limit)
    VALUES
    (#{popupStore.popupStoreId}, #{name}, #{imgUrl}, #{amount}, #{stock}, #{orderLimit})
  </insert>

  <insert id="insertPopupStoreSns" parameterType="PopupStoreSns">
    INSERT INTO tb_popup_store_sns (popup_store_id, platform, url)
    VALUES
    (#{popupStore.popupStoreId}, #{platform}, #{url})
  </insert>


  <update id="upsertPopupStoreSns" parameterType="PopupStoreSns">
    merge into tb_popup_store_sns a
    using dual b
    on
      (
        a.popup_store_id = #{popupStore.popupStoreId} and
        a.platform = #{platform}
      )
    when matched then
      update set
        a.url = #{url}
    when not matched then
      insert
      (
        popup_store_id,
        platform,
        url
      )
      values
      (
        #{popupStore.popupStoreId},
        #{platform},
        #{url}
      )
  </update>


  <update id="updatePopupStoreItem" parameterType="PopupStoreItem">
    <foreach collection="list" index="index" item="item" open="DECLARE BEGIN" separator=";" close="; END;">
      UPDATE tb_popup_store_item
      SET
      name = #{item.name},
      amount = #{item.amount},
      img_url = #{item.imgUrl},
      stock = #{item.stock},
      order_limit = #{item.orderLimit}
      WHERE
      popup_store_item_id = #{item.popupStoreItemId}
    </foreach>
  </update>

  <update id="updatePopupStoreItemSalesStatus" parameterType="PopupStoreItem">
    <foreach collection="list" index="index" item="item" open="DECLARE BEGIN" separator=";" close="; END;">
      UPDATE tb_popup_store_item
      SET
      is_on_sale = 0
      WHERE
      popup_store_item_id = #{item.popupStoreItemId}
    </foreach>
  </update>

</mapper>
