<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.popupstore.persistence.PopupStoreDao">

  <resultMap id="popupStoreMap" type="PopupStore">
    <result column="popup_store_id" property="popupStoreId"/>
    <result column="title" property="title"/>
    <result column="organizer" property="organizer"/>
    <result column="place_detail" property="placeDetail"/>
    <result column="open_date" property="openDate"/>
    <result column="close_date" property="closeDate"/>
    <result column="description" property="description"/>
    <result column="event_description" property="eventDescription"/>
    <result column="entry_fee" property="entryFee"/>
    <result column="banner_img_url" property="bannerImgUrl"/>
    <result column="open_time" property="openTime"/>
    <result column="close_time" property="closeTime"/>
    <result column="max_capacity" property="maxCapacity"/>
    <result column="reservation_enabled" property="reservationEnabled"/>
    <result column="reservation_interval" property="reservationInterval"/>
    <result column="interval_capacity" property="intervalCapacity"/>
    <result column="team_size_limit" property="teamSizeLimit"/>
    <result column="created_at" property="createdAt"/>
    <result column="views" property="views"/>
    <association property="user" resultMap="userMap"/>
    <association property="department" resultMap="departmentMap"/>
  </resultMap>

  <resultMap id="userMap" type="User">
    <result column="user_id" property="userId"/>
  </resultMap>

  <resultMap id="departmentMap" type="Department">
    <result column="department_id" property="departmentId"/>
    <result column="name" property="name"/>
    <result column="place_description" property="placeDescription"/>
    <result column="latitude" property="latitude"/>
    <result column="longitude" property="longitude"/>
    <result column="open_time" property="openTime"/>
    <result column="close_time" property="closeTime"/>
  </resultMap>

  <resultMap id="popupStoreDetailMap" type="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreDetailDto">
    <association property="popupStore" resultMap="popupStoreMap"/>
    <association property="department" resultMap="departmentMap"/>
  </resultMap>

  <select id="findById" parameterType="long" resultType="PopupStore">
    SELECT *
    FROM tb_popup_store
    WHERE popup_store_id = #{popupStoreId}
  </select>


  <select id="selectPopupStores" parameterType="com.bonestew.popmate.popupstore.presentation.dto.PopupStoreSearchRequest"
    resultType="PopupStore">
    SELECT popup_store_id, title, open_date, close_date, place_detail, banner_img_url, organizer
    FROM tb_popup_store
    <where>
      <if test="keyword != null">
        AND title LIKE CONCAT(CONCAT('%', #{keyword}), '%')
      </if>
      <if test="isOpeningSoon">
        AND trunc(SYSDATE) &lt; open_date
      </if>
      <if test="!isOpeningSoon and (startDate != null and endDate != null)">
        AND ((open_date BETWEEN #{startDate, jdbcType=TIMESTAMP} AND #{endDate, jdbcType=TIMESTAMP})
        OR (close_date BETWEEN #{startDate, jdbcType=TIMESTAMP} AND #{endDate, jdbcType=TIMESTAMP}))
      </if>
    </where>
    <if test="offSetRows != null and rowsToGet != null and rowsToGet != 0">
      OFFSET #{offSetRows} ROWS FETCH FIRST #{rowsToGet} ROWS ONLY
    </if>
  </select>


  <select id="selectBanners" resultType="Banner">
    SELECT * FROM tb_banner
  </select>

  <select id="selectPopupStoresVisitedBy" parameterType="User" resultType="PopupStore">
    SELECT
    ps.popup_store_id, ps.title, ps.banner_img_url
    FROM
    tb_popup_store ps
    JOIN
    tb_user_reservation ur ON ps.user_id = ur.user_id
    WHERE
    ps.user_id = #{userId}
    AND ur.status = 1
    AND ur.created_at = trunc(SYSDATE)
  </select>

  <select id="selectPopupStoresToRecommend" resultType="PopupStore">
    SELECT
    popup_store_id, title, open_date, close_date, place_detail, banner_img_url, organizer
    FROM
    tb_popup_store
    ORDER BY views
    FETCH FIRST 5 ROWS ONLY
  </select>

  <select id="selectPopupStoresEndingInOneWeek" resultType="PopupStore">
    SELECT
    popup_store_id, title, open_date, close_date, place_detail, banner_img_url, organizer
    FROM
    tb_popup_store
    WHERE
    trunc(SYSDATE) >= open_date
    AND (close_date - trunc(SYSDATE)) BETWEEN 0 AND 7

  </select>

  <select id="findPopupStoreDetailById" parameterType="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreQueryDto"
    resultMap="popupStoreDetailMap">
    SELECT
    *
    FROM
    tb_popup_store ps
    JOIN
    tb_department dep ON ps.department_id = dep.department_id
    WHERE
    ps.popup_store_id = #{popupStoreId}
  </select>

  <select id="findUserReservationById" parameterType="long" resultType="UserReservationStatus">
    select  ur.status
    from tb_user_reservation ur
    join tb_reservation r
    on ur.reservation_id = r.reservation_id
    where ur.user_id = #{userId} and r.popup_store_id = #{popupStoreId}
    and ur.created_at = trunc(sysdate)
  </select>

  <select id="selectPopupStoreSnss" parameterType="long" resultType="PopupStoreSns">
    SELECT *
    FROM tb_popup_store_sns
    WHERE popup_store_id = #{popupStoreId}
  </select>

  <select id="selectPopupStoreImgs" parameterType="long" resultType="PopupStoreImg">
    SELECT *
    FROM tb_popup_store_img
    WHERE popup_store_id = #{popupStoreId}

  </select>

  <select id="selectPopupStoreItems" parameterType="long" resultType="PopupStoreItem">
    SELECT *
    FROM tb_popup_store_item
    WHERE popup_store_id = #{popupStoreId}
  </select>

  <update id="batchUpdatePopupStoreViews" parameterType="com.bonestew.popmate.popupstore.persistence.dto.PopupStoreUpdateDto">
    <foreach collection="list" index="index" item="updateDto" open="DECLARE BEGIN" separator=";" close="; END;">
      UPDATE tb_popup_store
      SET views = #{updateDto.views}
      WHERE popup_store_id = #{updateDto.popupStoreId}
    </foreach>
  </update>

</mapper>
