<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.auth.persistence.OauthDao">

  <select id="findCheck" parameterType="String" resultType="OauthUser">
    SELECT *
    FROM TB_USER
    WHERE EMAIL = #{email}
  </select>

  <insert id="insertUser" parameterType="OauthUser">
    INSERT INTO TB_USER (EMAIL, NAME, PROVIDER)
    VALUES (#{email}, #{name}, #{provider})
  </insert>

</mapper>
