<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.chat.persistence.ChatRoomDao">

    <select id="findById" resultType="ChatRoom">
        SELECT *
        FROM TB_CHAT_ROOM
        WHERE ROOM_ID = #{id}
    </select>

    <insert id="insertChatReport" parameterType="map">
        INSERT into TB_CHAT_REPORT (REPORTER, CHAT_ID)
        values (#{reporter}, #{chatId})
    </insert>
</mapper>
