<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.admin.persistence.AdminDao">

  <insert id="insertMainBanner" parameterType="java.util.Map">
    insert into tb_banner (img_url, popup_store_id)
    values(#{bannerImgUrl}, #{popupStoreId})
  </insert>

  <delete id="deleteBanner" parameterType="long">
    delete from tb_banner
    where banner_id = #{bannerId}
  </delete>

  <select id="getMainBanner" resultType="MainBanner">
    select *
    from tb_banner
  </select>
</mapper>
