<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.admin.persistence.AdminDao">


  <select id="getPopupStore" resultType="BackOfficePopupStore">
    select popup_store_id, title from tb_popup_store
    order by popup_store_id desc
  </select>

  <insert id="insertMainBanner" parameterType="java.util.Map">
    insert into tb_banner (img_url, popup_store_id)
    values(#{bannerImgUrl}, #{popupStoreId})
  </insert>

  <select id="getOneMainBanner" resultType="MainBanner">
    SELECT a.popup_store_id, a.title, a.organizer, a.place_detail, a.open_date, a.close_date, a.banner_img_url, b.banner_id, b.img_url
    FROM tb_popup_store a
    JOIN tb_banner b ON a.popup_store_id = b.popup_store_id
    ORDER BY TO_NUMBER(b.banner_id) DESC
    FETCH FIRST ROW ONLY
  </select>

  <delete id="deleteBanner" parameterType="long">
    delete from tb_banner
    where banner_id = #{bannerId}
  </delete>

  <select id="getMainBanner" resultType="MainBanner">
    select a.popup_store_id, a.title, a.organizer, a.place_detail, a.open_date, a.close_date, a.banner_img_url, b.banner_id,b.img_url
    from tb_popup_store a join tb_banner b on a.popup_store_id = b.popup_store_id
  </select>
</mapper>
