<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.reservation.persistence.UserReservationDao">

  <resultMap id="userMap" type="User">
    <result column="user_id" property="userId"/>
    <result column="email" property="email"/>
    <result column="name" property="name"/>
    <result column="nickname" property="nickname"/>
    <result column="created_at" property="createdAt"/>
  </resultMap>

  <resultMap id="popupStoreMap" type="PopupStore">
    <result column="popup_store_id" property="popupStoreId"/>
    <result column="title" property="title"/>
    <result column="organizer" property="organizer"/>
    <result column="place_detail" property="placeDetail"/>
    <result column="open_date" property="openDate"/>
    <result column="close_date" property="closeDate"/>
    <result column="description" property="description"/>
    <result column="event_description" property="eventDescription"/>
    <result column="entry_fee" property="entryFee"/>
    <result column="banner_img_url" property="bannerImgUrl"/>
    <result column="open_time" property="openTime"/>
    <result column="close_time" property="closeTime"/>
    <result column="max_capacity" property="maxCapacity"/>
    <result column="reservation_enabled" property="reservationEnabled"/>
    <result column="reservation_interval" property="reservationInterval"/>
    <result column="interval_capacity" property="intervalCapacity"/>
    <result column="team_size_limit" property="teamSizeLimit"/>
    <result column="created_at" property="createdAt"/>
  </resultMap>

  <resultMap id="reservationMap" type="Reservation">
    <result column="reservation_id" property="reservationId"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
    <result column="visit_start_time" property="visitStartTime"/>
    <result column="visit_end_time" property="visitEndTime"/>
    <result column="guest_limit" property="guestLimit"/>
    <result column="team_size_limit" property="teamSizeLimit"/>
    <result column="current_guest_count" property="currentGuestCount"/>
    <result column="entered_guest_count" property="enteredGuestCount"/>
    <result column="status" property="status"
      typeHandler="com.bonestew.popmate.reservation.persistence.typehandler.ReservationStatusTypeHandler"/>
    <result column="created_at" property="createdAt"/>
    <collection column="popup_store_id" property="popupStore" resultMap="popupStoreMap"/>
  </resultMap>

  <resultMap id="userReservationMap" type="UserReservation">
    <result column="user_reservation_id" property="userReservationId"/>
    <result column="status" property="status"
      typeHandler="com.bonestew.popmate.reservation.persistence.typehandler.UserReservationStatusTypeHandler"/>
    <result column="guest_count" property="guestCount"/>
    <result column="qr_img_url" property="qrImgUrl"/>
    <result column="created_at" property="createdAt"/>
    <association property="user" resultMap="userMap"/>
    <collection column="reservation_id" property="reservation" resultMap="reservationMap"/>
  </resultMap>

  <select id="findByReservationIdAndUserId" parameterType="long" resultMap="userReservationMap">
    SELECT *
    FROM tb_user_reservation A
           LEFT JOIN tb_reservation B ON A.reservation_id = B.reservation_id
           LEFT JOIN tb_popup_store C ON B.popup_store_id = C.popup_store_id
    where A.reservation_id = #{reservationId}
      AND A.user_id = #{userId}
  </select>

  <select id="getByUserId" resultMap="userReservationMap">
    SELECT *
    FROM tb_user_reservation A
           LEFT JOIN tb_reservation B ON A.reservation_id = B.reservation_id
           LEFT JOIN tb_popup_store C ON B.popup_store_id = C.popup_store_id
    where A.user_id = #{userId}
  </select>

  <insert id="save" parameterType="UserReservation">
    INSERT INTO tb_user_reservation (user_id, reservation_id, status, guest_count, qr_img_url)
    VALUES (#{user.userId}, #{reservation.reservationId}, #{status}, #{guestCount}, #{qrImgUrl})
  </insert>

  <select id="existsByUserIdAndReservationId" resultType="boolean">
    SELECT COUNT(*)
    FROM tb_user_reservation
    WHERE user_id = #{userId}
      AND reservation_id = #{reservationId}
  </select>

  <select id="findByReservationId" parameterType="long" resultMap="userReservationMap">
    SELECT *
    FROM tb_user_reservation A
           LEFT JOIN TB_USER B ON A.USER_ID = B.USER_ID
    where A.reservation_id = #{reservationId}
  </select>

  <update id="updateStatus">
    UPDATE tb_user_reservation
    SET status = #{status}
    WHERE user_reservation_id = #{userReservationId}
  </update>

</mapper>
