<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonestew.popmate.popupstore.persistence.PopupStoreDao">

  <select id="findById" parameterType="long" resultType="PopupStore">
    SELECT *
    FROM tb_popup_store
    WHERE popup_store_id = #{popupStoreId}
  </select>

</mapper>
